@import 'font.css';
*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
    font-weight: 400;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    background: #151515;
}
/* navbar */
.navbar{
    width: 100%;
    min-height: 40px;
    background: #282828;
    display: flex;
}
.navbar__center{
    max-width: 1140px;
    width: 100%;
    min-height: 40px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navbar__center_left{
    display: flex;
}
.navbar__center_right{
    display: flex;
}
.navbar__center_left div{
    display: flex;
}
.navbar__center_left img{
    width: 100px;
    height: 53px;
    margin: 6px 0 6px 15px;

}
.navbar__center_left a{
    min-height: 5px;
    min-width: 10px;
    margin: 20px 0 21px 30px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;

}
.navbar__center_left a:hover{
    color: rgb(255, 0, 0);
}
.navbar__center_right img{
    width: 20px;
    height: 20px;
    margin: 22px 15px 23px 25px;
}
.navbarban{
    margin: 0 auto;
    width: 100%;
    height: 700px;
    background: url('../images/Header.png') no-repeat center ;
}
/* banner */
.banner__center{
    max-width: 1140px;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.banner__center h1{
    min-width: auto;
    min-height: auto;
    color: #fff;
    margin-top: 204px;
    margin-bottom: 38px;
    font-family: 'prostoone';
    font-size: 100px;
    line-height: 75px;
    font-weight: 400;
}
.banner__center div {
    width: 200px;
    height: 50px;
    background: #fff;
 margin-bottom: 268px;
 border-radius: 10px;
 display: flex;

}
.banner__center div p{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin:13px 0 13px 14px;
    text-transform: uppercase;
    color: #171718;

}
.banner__center div img{
    width: 16px;
    height: 15px;
    margin:17px 0 18px 11px;
}
/* kontent */
.kontent__center{
    max-width: 1140px;
    min-height: 200px;  
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.kcimg{
    display: flex;

}


.kcimg1 p{
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    width: 538px;
    margin: 63px 30px 0 15px;
}
.kcimg1 img{
    width: 552px;
    height: 335px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.kcimg2 img{
    width: 457px;
    height: 408px;
    margin-bottom: 50px;
    margin-right: 87px;
}
.kcimg2 p{
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    color: #fff;
    margin: 150px 15px 201px 0;
}
.kcimg3{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.kcimg3 p{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
    width: 333px;
 
}
.kcimg3 img{
    width: 268px;
    height: 375px;
    margin: 0 14px;
}
.kcimg3 div{
    width: 61px;
    height: 1px;
    border: 1px solid #C4C4C4;
}
.kcleft{
margin: 0 13px 0 15px;
text-align: right;

}
.kcright{
    margin: 0 15px 0 11px;
}
.kcimg4{
    margin-top: 79px;
    display: flex;

}
.div__kc{
    width: 255px;
    height: 312px;
    margin:  0 15px 55px 15px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 6px;
}
.div__kc p{
font-size: 20px;
line-height: 24px;
font-weight: 700;
margin: 15px auto 10px auto;
}
.div__kc img{
    height: 167px;
    width: 120px;
    margin: 0 auto;
}
.div__kc ul{
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin: 10px auto 20px auto;
 
}
.div__kc div{
    width: 161px;
    height: 34px;
    background: #151515;
   margin: 0px auto 15px auto;
   display: flex;
   justify-content: center;
   align-items: center;
    
}


.div__kc a{
    color: #fff;
}
.div__kc a:hover {
    color: red;
}
/* end */
.end{
    width: 100%;
    min-height: 40px;
    background: #282828; 
    display: flex;
}
.end__center{
    width: 1140px;
    display: flex;
    padding: 0 15px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.end__center_img img{
    width: 100px;
    height: 53px;
 margin: 81px 0;
 display: flex;
}
.end__center a{
    font-size: 20px;
    line-height: 24px ;
    font-weight: 700;
    color: #fff;
    
    margin: 96px 15px 95px 15px;
}
.end__img img{
    width: 70px;
    height: 55px;
    margin-left: 30px;
}
.end__center_img{
    margin-right: 100px;
}
.end__center a:hover{
    color:  red;
}

@media(max-width:1200px){
    .navbar{
        padding: 0 30px;
    }

}
@media(max-width:1150px){
    .kontent__center{
        justify-content: center;
    }
    .kcimg{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .kcimg1 img{
        margin-left: 400px;
        margin-right: 50px;
    }
    .kcimg1 p{
        margin-right: 300px;
    }
    .kcimg2{
        align-items: center;

    }
    .kcimg2 img{
        order: 1;
        margin-left: 400px;
        margin-right: 50px;
    }
    .kcimg2 p{
        margin: unset;
        margin-right: 300px;
        max-width: 540px;
    }
    .kcimg3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        

    }
    
    .kcimg3 img{
     order: 1;
     margin-top: 20px;
    }
    .kcright,
    .kcleft{
        text-align: center;
        margin: unset;
    }
    .kcimg4 {
        max-width: 1140px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    
    .div__kc a{
        margin: 5px 0;
    }
    .div__kc{
        max-width: 255px;
        width: 50%;
        height: auto;
    }
    .div__kc div{
        max-width: 161px;
        width: 75%;
        height: auto;
    }

    
}
@media(max-width:1000px){
   
    .kontent__center{
        justify-content: center;
    }
    .kcimg1 img{
     margin-left: 0%;
     margin-right: 0%;
    }
    .kcimg1 p{
        margin-left: 0;
        margin-right: 0;
    }
    .kcimg2 img{
        margin-left: 0;
        margin-right: 0;
    }
    .kcimg2 p{
        margin-left: 0;
        margin-right: 0;
    }
}
@media(max-width:840px){
      .kcimg3 p{
          max-width: 333px;
          width: 40%;
      }
      .kcimg3 div{
          max-width: 120px;
          width: 5%;
      }
}
@media(max-width:700px){
    .banner__center h1{
        text-align: center;
    }

}
@media(max-width: 750px){
    .end__center_img{
        margin: unset;
    }
    .end__center div{
        display: flex;
        flex-direction: column;
    }
    .end__center a{
        margin: 15px;
    }
    .end__img{
        display: flex;
        row-gap: 10px;
    }
}
@media(max-width:575px){
    .kcimg1 img{
        width: 90%;
        height: auto;
    }
    .kcimg1 p{
        width: 95%;
        height: auto;
    }
    .kcimg2 p{
        width: 95%;
        height: auto;
    }
    .kcimg2 img{
        width: 75%;
        height: auto;
    }
    .kcimg3 img{
        max-width: 268px;
        width: 55%;
        height: auto;
    }
}
@media(max-width:560px){
    .navbar__center_left{
        display: flex;
        flex-direction: column;

    }
    .navbar__center_right{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width: 440px){
    .banner__center h1{
      font-size: 75px;
      line-height: 50px;
    }
    .kcimg p{
        font-size: 15px;
        line-height: 19px;
    }
    .navbar{
        padding: 0 5px;
    }
    .div__kc ul{
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }
    .div__kc img{
        max-width: 120px;
        width: 55%;
        height: auto;
    }
}
@media(max-width: 350px){
    .navbar__center_left{
        flex-direction: row;
    }
    .navbar__center_left div{
        flex-direction: column;
    }
    .navbar__center_left a{
        font-size: 16px;
        line-height: 20px   ;
    }
    .end__center a{
        font-size: 16px;
        line-height: 20px;
        margin: 7px;
        margin-right: 4px;
    }
    .end__img img{
        max-width: 70px;
        width: 75%;
        height: auto;
        margin-left: 20px ;
    }
    .banner__center h1{
       font-size: 60px;
       line-height: 35px;
       display: flex;
       row-gap: 10px;
    }
}
@media(max-width: 300px){}
